<div class="container">
    <h3 class="text-center"><strong>User Repositories</strong></h3>
    <form class="text-center">
        <input class="form-control mr-sm-2" type="text" placeholder="Github Username" aria-label="Search" [(ngModel)]="gitusername" name = "gituser">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit" (click)="SearchRepo()"> <i class="fas fa-search"></i>Search</button>
    </form>
    <div class="card">
        <div class="row">
            <div class="col-md-4 card" *ngFor="let repo of repos">
                <div class="card-body">
                    <h4 class="card-title">{{repo.name}}</h4>
                    <hr>
                    <ul class="list-group">
                        <li class="list-group-item">{{repo.name}}</li>
                        <li class="list-group-item">{{repo.description}}</li>
                        <li class="list-group-item">{{repo.created_at| date}}</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <ul class="list-unstyled list-inline font-small">
                        <a target="_blank" href="{{user.html_url}}" class="btn btn-success"> View Repository</a>
                    </ul>
                </div>
            </div>
        </div>
        <footer class="page-footer text-center">
            <p>© 2019 Copyright: Murielle IRIBORI</p>
        </footer>
    </div>
</div>